@import "theme";

@import "article";
section#header #topbar #headerbar {
    header nav ul li a {
        text-transform: none;
    }
    #logo a img {
        margin-left: -33px;
        width: 127px;
    }
}
#wrapper {
    &.cursus-container {
        div#main {
            .brandbox {
                position: absolute;
                width: 100%;
            }
        }
    }
    .breadcrumbs.activity-detail, .articles.articles_activity-detail {
        display: none;
    }
}

#wrapper div#main {
    section {
        
    }
    footer {
        .contentblocks {
            .contentblock {
                display: inline-block;
                .title {
                    h2 {
                        color: $white;
                    }
                }
            }
        }
    }
    .bottombox {
        background-color: $white;
        border-top: 1px solid $border;
        .moduleinmode_contentblock {
            border-bottom: 1px solid $border;
            padding-top: $column-gutter/2;
            h2 {
                color: $main;
            }
            .contentblockcontent {
                @include grid-row();
                padding: 0 $column-gutter/2;
            }
            .module-container {
                background: transparent;
            }
            .itemscontainer {
                @include grid-row();
                padding: 0 $column-gutter/2;
                .btn {
                    background: $main;
                    border-radius: 0;
                    &:hover {
                        background-color: darken($main,10);
                    }
                }
            }
        }
    }
}
#wrapper div#main section .module-container .items .item .photo_wrapper {
    background-size: 100%;
    background-repeat: no-repeat;
}

@media #{$medium-up} {
    section#header #topbar #headerbar #logo a img {
        width: 180px;
    }
    #wrapper {
        div#main {
            section {
            }
            .bottombox {
                .moduleinmode_contentblock {
                    .itemscontainer {
                       text-align: right;
                       margin-top: -60px;
                    }
                }
            }
        }
    }
}

@media #{$large-up} { 
    #wrapper div#main section {
       
    }
}